@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Playfair+Display&display=swap');

*{
    padding: 0;
    margin: 0;
}
/*
header{
    display: flex;
    background: linear-gradient(45deg, lightblue 30%, rgb(146, 209, 230) 20%);
    height: 155px;
    padding: 20px; 
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
*/
.lightblue{
    background: linear-gradient(45deg, lightblue 30%, rgb(146, 209, 230) 20%);
}

body main{
    background-image: url(../img/layered-waves-haikei.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}   

.containerindex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imagenesi{
    width: 85%;
    height: 500px; 
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 1px 3px 3px rgb(12, 78, 119);
}

.secciondeindex{
    display: flex;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/just-waves.png);
    background-repeat: initial;
    justify-content: center;
}

.titleindex{
    font-family: 'Playfair Display', sans-serif;
    border: 2px;
    border-radius: 50%;
    padding: 1.5rem;
    margin: 1rem;
    background-color: lightcyan;
    
}

.iconos_index{
    display: flex;
}

.informacion_index{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-size: larger;
}

.footer_index{
    background-color: lightskyblue;
    padding: 20px;
}

.dream_index{
    font-size: x-large;
    text-align: center;
    margin-right: 5%;
    margin-top: 5px;
    font-family: 'Playfair Display', sans-serif;
    text-decoration: underline;

}

.mediosdepago_index{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.nuestros{
    color: black;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-left: 10px;
}

.algunos{
    color: black;
    margin-top: 10px;
    margin-left: 30px;
    font-size: x-large;
    list-style-type: square;
}

.valorados{
    color: black;
    margin-top: 10px;
    font-size: large;
    list-style-type: square;
}

.productos{
    color: black;
    font-family: 'Playfair Display', sans-serif;
    font-size: larger;
    margin-top: 20px;
    margin-left: 10px;
}

.parrafito{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
    padding-left: 10px;
}

.videocontainer{
    display: flex;
    justify-content: center;
}

figcaption{
    padding-left: 10px;
}
   
.iconosFooter{
    padding: 5px;
    max-width: 100%;
    height: 60px;
}

.iconosfooter2{
    padding: 5px;
    max-width: 100%;
    height: 30px;
}

.abuelo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: "header header header header" 
    "galeria galeria galeria galeria"
    "footer footer footer footer";
}

.header{
    grid-area: header;
}

.galeria-grid{
    grid-area: galeria;

}

.footer{
    grid-area: footer;
    background-color: lightskyblue;
    padding: 20px;
    width: 100%;
}

.delaGaleria{
    display: grid;
    border: 5px solid black;
    margin-top: 15px;
    margin-left: 30px;
    width: 80%;
    justify-content: space-between;
    transition: width 1s, height 1s;
}

.delaGaleria:hover{
  width: 480px;
  height: 480px;
}

.hijo{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    align-items: center;
    justify-content: center;


}

.elh2Degaleria{
    display: grid;
    justify-content: center;
    font-family: 'Playfair Display', sans-serif;
    text-decoration: underline;
    margin-right: 9%;
    margin-bottom: 2rem;
}

.imagenes_galeria{
    width: 500px;
    height: 500px;
}

.footito{
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: double;
    width: 100%;
}

.diseño{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    background: -webkit-linear-gradient(rgb(179, 221, 255),rgb(119, 169, 245));
}

.secciondeProductos{
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

.sucursales{
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 20px;
    font-size: x-large;
    margin-left: 10px;
}

.queHacemos{
    display: flex;
    border: 5px solid lightblue;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 900px;
    height: 450px;

}

.horario{
    font-family: 'Playfair Display', sans-serif;
    margin-left: 10px;
    font-size: large;
    text-decoration: underline;
}

.mapa{
    margin-left: 10px;
    margin-bottom: 20px;
}

.infodeProductos{
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    color: grey;
    margin-left: 10px;
}

.iconosproductos{
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

.nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Playfair Display', sans-serif;
    margin-left: 20px;
    
}

.sobrenosotros{
    display: flex;
    padding: 20px;
    align-items: center;
    font-size: x-large;
    font-family: 'Playfair Display', sans-serif;
}

.deconosotros{
   border: solid lightskyblue;
}

.grid-container{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    
}

.contenedorpadre{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    width: 100%;
}
  

.imgProducts{
    width: 300px;
    height: 300px;
    border: 3px solid lightseagreen;
}

.descripcionP{
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

@media (min-width:720px){
    .contenedorpadre{  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    

}

@media (min-width:1366px){
    .contenedorpadre{  
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width:1440px){
    .contenedorpadre{  
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


}

@media (max-width:500px){
    .hijo{  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 100%;
    }
    .elh2Degaleria{
        align-items: flex-end;
    }

    .imagenes_galeria{
        height: 300px;
        width: 300px;
    }

    body main{
        background-color: lightblue;
        max-width: 100%;  

    }
}


@media (min-width:720px){
    .hijo{  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .elh2Degaleria{
        align-items: flex-end;
    }
}

@media (max-width:1080px){
    .hijo{  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .elh2Degaleria{
       float: left;
       margin-left: 5%;


    }

    .abuelo{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr auto 1fr;
    }

    


}

@media (min-width:1588px){
    .hijo{  
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}


@media (min-width:720px){
    .secciondeindex{  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    

}

@media (max-width:720px){
    .imagenesi{  
        height: 300px;
        width: 300px;
    }

    .videocontainer{
        padding: 2rem;
    }
    

}

@media (max-width:800px){
    .deconosotros{
        display: none;
    }

    .sobrenosotros{
       text-align: justify; 
    }
}